html,body{
    height:100%;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 400px;
}
    .body-content .content-container{
        border-radius: 4px;
        flex-grow:1;
    }